<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="game.one.breakout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Options"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle50"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle49"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle48"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle47"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle46"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle45"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle44"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle43"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle42"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle41"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle40"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle39"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle38"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle37"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle36"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle35"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle34"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle33"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle32"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle31"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle30"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle29"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle28"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle27"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle26"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle25"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle24"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle23"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle22"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle21"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle20"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle19"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle18"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle17"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle16"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle15"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle14"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle13"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle12"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle11"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle10"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle9"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle8"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle7"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle6"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle5"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle4"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle3"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".puzzles.puzzle2"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1915369812247453~4465092809" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Splash"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".puzzlelist.Puzzlelist10"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist9"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist8"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist7"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist6"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist5"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist4"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist3"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist2"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzlelist.Puzzlelist1"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".puzzles.puzzle1"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>